<h1>Recently added/updated blogs</h1>

<table>
  <tr>
    <td>
      <b>Title</b>
    </td>
    <td>
      <b>Updated Datetime</b>
    </td>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post.title, post_path(post) %>
      </td>
      <td>
        <%= post.updated_at %>
      </td>
    </tr>
  <% end %>
</table>
